/* Configurações de cores e fontes */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; /* Um branco acinzentado bem leve */
    color: #333333; /* Cinza escuro para o texto não cansar os olhos */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Título Principal com destaque */
header {
    background: linear-gradient(135deg, #634ae2, #59bd35); /* Degradê azul moderno */
    color: white;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 2px;
}

.tagline {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-top: 10px;
}

/* Estilizando o conteúdo */
.conteudo {
    max-width: 500px; /* Deixa o texto centralizado e não espalhado na tela toda */
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

/* Destacando os Títulos das seções */
h2 {
    color: #e24a57; /* Azul combinando com o topo */
    font-size: 1.8rem;
    margin-top: 50px;
    border-bottom: 2px solid #e0e0e0; /* Uma linha fina para separar */
    display: inline-block;
    padding-bottom: 5px;
}

p {
    font-size: 1.5rem;
    margin-top: 15px;
    color: #064c55;

    
}

/* Botão de Voltar discreto e elegante */
.link-voltar {
    display: inline-block;
    margin-top: 50px;
    color: #357abd;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #357abd;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.link-voltar:hover {
    background-color: #357abd;
    color: white;
    border-radius: 100px;
}

.container{
    border-radius: 10px;
    padding: 15px;
}



.topo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgba(224, 8, 8, 0.5);
    color: #ffffff;
}

.logo{
    font-size: 20px;
    color: rgb(8, 250, 28);
    font-weight: bold;
}

nav a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

.hero{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 50px;
}


body {
  margin: 0;
}

.hero {
  min-height: 100vh; /* ocupa a tela toda */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centro vertical */
  align-items: center;     /* centro horizontal */
  text-align: center;
}

.hero h1 {
  font-family: 'Georgia', serif;
  font-size: 56px;
  font-weight: bold;
}

.hero p{
    font-family: 'Georgia', serif;
    font-size: 25px;
    color:rgb(193, 9, 239);

}



